*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}
#encabezado{
    font-family: 'Roboto condensed', sans-serif;
    width: 100%;
    background-color: #57743b;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .logoTitulo img{
    margin: 10px 15px 4px 30px;
    align-items: left;
    width: 100px;
    height: 100px;
            
    }
}
.menu{
    padding: 10px;
    width: 100%;

    text-decoration: none;
    list-style: none;

    ul{
        font-size: 0;
    }
    li{
        display: inline-block;
        align-items: center;
        text-align: center;
        width: 20%;
        position: relative;
        font-size: 14px;
    }
    li a{
        color: black;
        text-decoration: none;
    }
    ul ul{
        position: absolute;
        width: 100%;
        display: none;
        background-color: #57743b;
    }
    ul ul li{
        display: block;
    }
    ul li:hover ul{
        display: block;
    }

    li li{
        display: flex;
        width: 100%;
    }


}

#pie{
    padding: 30px 0px 30px 0;
    background-color: #479429;
    align-items: center;
    width: 100%;
    height: 100px;
    a{
        text-decoration: none;
        color: black;
        padding: 6%;
        align-items: center;
    }

    

    .nosotros{
        margin: 0 0 20px 40px;
        text-align: left;
    }
    .instagram{
        width: 42px;
        height: 40px;
    }
    .facebook{
        width: 40px;
        height: 40px;
    }
    .tiktok{
        width: 40px;
        height: 40px;
    }
    .twitter{
        width: 60px;
        height: 40px;
    }
    .whatsapp{
        width: 40px;
        height: 40px;
    }
    .correo{
        width: 60px;
        height: 40px;
    }
    .copy{
        text-align: center;
    }
}
.tiiiiitulooo{
    display: flex;
    justify-content: center;
    font-family: 'Roboto condensed', sans-serif;
}

.titulo_principal{
    display: flex;
    justify-content: center;
    font-family: 'Roboto condensed', sans-serif;
}



#grid-conteiner{
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    display: grid;
    font-family: 'Roboto condensed', sans-serif;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 0.5fr 0.3fr 0.5fr 0.2fr 0.3fr;
    grid-template-areas: 
        'titulo_fauna titulo_fauna titulo_fauna '
        'titulo_mono titulo_mono titulo_mono'
        'mono_monte parrafo_mono parrafo_mono'
        'titulo_ciervo titulo_ciervo titulo_ciervo'
        'parrafo_ciervo parrafo_ciervo ciervo_col'
        'titulo_pez titulo_pez titulo_pez'
        'pez_cado parrafo_pez parrafo_pez';
}

.titulo_principal{
    grid-area: titulo_fauna;
    display: flex;
    justify-content: center;
}

.titulo_1{
    grid-area: titulo_mono;
    display: flex;
    justify-content: center;
}

.parrafo_1{
    grid-area: parrafo_mono;
    justify-content: center;
}

.foto_1{
    grid-area: mono_monte;
}

.titulo_2{
    grid-area: titulo_ciervo;
}

.parrafo_2{
    grid-area: parrafo_ciervo;
}

.foto_2{
    grid-area: ciervo_col;
}

.titulo_3{
    grid-area: titulo_pez;
}

.parrafo_3{
    grid-area: parrafo_pez;
}

.foto_3{
    grid-area: pez_cado;
}

.gradient{
    height: 100px;
    width: 100%;

    background-image: linear-gradient(to top,#479429, #5b9a42);
}

nav ul li:hover{
    border-bottom: solid 5px #66EA54;
}

